h1 {
    color: darkgreen;
    font-family: georgia;
    text-align: center;
}

h2 {
    font-family: georgia;
    text-align: center;
}

p {
    line-height: <24px>;
}

a {text-decoration: none;
    
}